<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
</head>
<body>
    <header>
        <h1><%= title %></h1>
    </header>
    <main>
        <div>
            <h2>Number of Images: <%= image_count %></h2>
            <h2>Number of Uploaders: <%= uploader_count %></h2>
            <h2>Number of Categories: <%= category_count %></h2>
        </div>     
    </main>
</body>
</html>